@keyframes custom-bounce {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-60px);
	}
}

.animate-custom-bounce {
	animation: custom-bounce 0.6s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}
